
<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Request No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date/Time</th>
                <th>Accept Request</th>
                <th>Cancel Request</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>1</td>
                <td>Abc</td>
                <td>Pune,Hinjewadi,220146</td>
                <td><input type="date" name="" id=""></td>
                <td><a routerLink="/">Accept Request</a></td>
                <td><a routerLink="/">Cancel Request</a></td>
            </tr>
            <tr>
               
                    <td>1</td>
                    <td>Abc</td>
                    <td>Pune,Hinjewadi,220146</td>
                    <td><input type="date" name="" id=""></td>
                    <td><a routerLink="/">Accept Request</a></td>
                    <td><a routerLink="/">Cancel Request</a></td>
                </tr>
                <tr>
               
                        <td>1</td>
                        <td>Abc</td>
                        <td>Pune,Hinjewadi,220146</td>
                        <td><input type="date" name="" id=""></td>
                        <td><a routerLink="/">Accept Request</a></td>
                        <td><a routerLink="/">Cancel Request</a></td>
                    </tr>
                    <tr>
               
                            <td>1</td>
                            <td>Abc</td>
                            <td>Pune,Hinjewadi,220146</td>
                            <td><input type="date" name="" id=""></td>
                            <td><a routerLink="/">Accept Request</a></td>
                            <td><a routerLink="/">Cancel Request</a></td>
                        </tr>
        </tbody>
    </table>
    