<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>FName</th>
                <th>LName</th>
                <th>Mobile No</th>
                <th>Password</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-top: +20px;">1</td>
                <td style="padding-top: +20px;">Rahul</td>
                <td style="padding-top: +20px;">Singh</td>
                <td style="padding-top: +20px;">1234567891</td>
                <td style="padding-top: +20px;">123</td>
            </tr>
            <tr>
                    <td style="padding-top: +20px;">1</td>
                    <td style="padding-top: +20px;">Rahul</td>
                    <td style="padding-top: +20px;">Singh</td>
                    <td style="padding-top: +20px;">1234567891</td>
                    <td style="padding-top: +20px;">123</td>
                </tr>   <tr>
                        <td style="padding-top: +20px;">1</td>
                        <td style="padding-top: +20px;">Rahul</td>
                        <td style="padding-top: +20px;">Singh</td>
                        <td style="padding-top: +20px;">1234567891</td>
                        <td style="padding-top: +20px;">123</td>
                    </tr>   <tr>
                            <td style="padding-top: +20px;">1</td>
                            <td style="padding-top: +20px;">Rahul</td>
                            <td style="padding-top: +20px;">Singh</td>
                            <td style="padding-top: +20px;">1234567891</td>
                            <td style="padding-top: +20px;">123</td>
                        </tr>   <tr>
                                <td style="padding-top: +20px;">1</td>
                                <td style="padding-top: +20px;">Rahul</td>
                                <td style="padding-top: +20px;">Singh</td>
                                <td style="padding-top: +20px;">1234567891</td>
                                <td style="padding-top: +20px;">123</td>
                            </tr>   <tr>
                                    <td style="padding-top: +20px;">1</td>
                                    <td style="padding-top: +20px;">Rahul</td>
                                    <td style="padding-top: +20px;">Singh</td>
                                    <td style="padding-top: +20px;">1234567891</td>
                                    <td style="padding-top: +20px;">123</td>
                                </tr>

        </tbody>
    </table>
    