     
<div class="container">
        <table border="1" style="width: 600px;">
            <tr>
                <td><img  class="image" src="../../assets/home1.jpg" alt="Avatar" style="width:120px;height: 120px;margin: 1cm; ">
                </td>
                <td>
                    <h3 style="margin-top: -1%;text-align: center;">Discription</h3>
                   
                    <p style="margin-top: +15%; text-align: justify;">Cleaning, stocking and supplying designated facility areas (dusting, sweeping, vacuuming, mopping, cleaning ceiling vents, restroom cleaning etc)
                            Make adjustments and minor repairs.Follow all health and safety regulations</p>
                        
                        </td>
            </tr>
            <tr>
                    <td><img  class="image" src="../../assets/ac1.jpg" alt="Avatar" style="width:120px;height: 120px;margin: 1cm; ">
                    </td>
                    <td>
                        <h3 style="margin-top: -1%;text-align: center;">Discription</h3>
                        <p style="margin-top: +15%; text-align: justify;">Electricians install and maintain electrical power, communications, lighting, and control  systems in homes, businesses, and factories.Install and maintain wiring, control, and lighting systems</p>
                    </td>
                </tr>
                <tr>
                        <td><img  class="image" src="../../assets/plumber.jpg" alt="Avatar" style="width:120px;height: 120px;margin: 1cm; ">
                        </td>
                        <td>
                            <h3 style="text-align: center;">Discription</h3>
                            <p style="margin-top: +15%;text-align: justify;">Assemble pipe sections, tubing and fittings, using couplings, clamps, screws, bolts, cement, plastic solvent, caulking, or soldering, brazing and welding equipment.
                                    Fill pipes or plumbing fixtures with water or air and observe pressure gauges to detect and locate leaks.</p>
                        </td>
                    </tr>
            
        </table>
        
    </div>