
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Password</th>
            <th>Service Type</th>
            <th>Edit password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
            </td>
            <td>Mohon</td>
            <td>122354556</td>
            <td>123</td>
            <td>Electician</td>
            <td><a routerLink="/changepassword">Changepassword</a></td>
        </tr>
    </tbody>
</table>
