
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Service Type</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-top: +20px;">1</td>
            <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
            </td>
            <td style="padding-top: +20px;">Mohit</td>
            <td style="padding-top: +20px;">Electrician</td>
            <td style="padding-top: +20px;"><a routerLink="/edit">Edit</a></td>
            <td style="padding-top: +20px;"> <a routerLink="/delete/1">Remove</a></td>
        </tr>
        <tr>
                <td style="padding-top: +20px;">1</td>
                <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
                </td>
                <td style="padding-top: +20px;">Mohit</td>
                <td style="padding-top: +20px;">Electrician</td>
                <td style="padding-top: +20px;"><a routerLink="/edit/1">Edit</a></td>
                <td style="padding-top: +20px;"> <a routerLink="/delete/1">Remove</a></td>
            </tr>
            <tr>
                    <td style="padding-top: +20px;">1</td>
                    <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
                    </td>
                    <td style="padding-top: +20px;">Mohit</td>
                    <td style="padding-top: +20px;">Electrician</td>
                    <td style="padding-top: +20px;"><a routerLink="/edit/1">Edit</a></td>
                    <td style="padding-top: +20px;"> <a routerLink="/delete/1">Remove</a></td>
                </tr>
                <tr>
                        <td style="padding-top: +20px;">1</td>
                        <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
                        </td>
                        <td style="padding-top: +20px;">Mohit</td>
                        <td style="padding-top: +20px;">Electrician</td>
                        <td style="padding-top: +20px;"><a routerLink="/edit/1">Edit</a></td>
                        <td style="padding-top: +20px;"> <a routerLink="/delete/1">Remove</a></td>
                    </tr>
                    <tr>
            <td style="padding-top: +20px;">1</td>
            <td><img src="../../assets/abhishek.jpg" alt="Avatar" style="width:90px;height: 60px;">
            </td>
            <td style="padding-top: +20px;">Mohit</td>
            <td style="padding-top: +20px;">Electrician</td>
            <td style="padding-top: +20px;"><a routerLink="/edit/1">Edit</a></td>
            <td style="padding-top: +20px;"> <a routerLink="/delete/1">Remove</a></td>
        </tr>
    </tbody>
</table>
