    <h2 style="text-align: center;">About the Website</h2>
    
    <div class="card1">
            <p>Household is your one-stop solution to sort all your home needs ranging from construction to maintenance, quickly, professionally and conveniently. We simplify your everyday living with a variety of at-home services across differents cities of India, delivered by verified & qualified professionals only. Housejoy’s home services include Interiors/Renovation/Construction Services, Home Cleaning, Painting, Beauty Services at Home, Appliance Repairs, Pest Control, Plumbing/Electrical/Carpentry services & a lot more.</p>
            
        
        </div>
    <div class="row">
    <div class="column">
        <div class="card2">
                <img src="../../assets/falke.jpg" alt="Avatar" style="width:90px;height: 100px;">
        <h3>Shubham Falke</h3>
        <p>Electrical Engineer</p>
        <p>Front End Developert</p>
        </div>
    </div>

    <div class="column">
        <div class="card2">
 <img src="../../assets/shubham.jpg" alt="Avatar" style="width:90px;height: 100px;">

        <h3>Shubham Rai</h3>
        <p>Computer Science</p>
        <p>Front End Developert</p>
        </div>
    </div>
    
    <div class="column">
        <div class="card2">
                <img src="../../assets/irfan.jpg" alt="Avatar" style="width:90px;height: 100px;">

        <h3>Irfan Husen</h3>
        <p>Computer Science</p>
        <p>Backend Developer</p>
        </div>
    </div>
    
    <div class="column">
        <div class="card2">
                <img src="../../assets/abhishek1.jpg" alt="Avatar" style="width:90px;height: 100px;">

        <h3>Abhishek</h3>
        <p>Electrical Engineer </p>
        <p>Backend Developer</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    </div> 
   